.user__container {
  margin: 7px;
  margin-top: 20px;
  padding: 10px;
  display: inline-block;
  float: right;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1px 3px #DDDDDD;
}

.user__icon{
  padding: 0 3px 0 3px;
  color: #222222;
}
