.comment {
  background-color: #EAEAEA;
  margin: 5px 40px 10px 40px;
  padding: 10px;
  clear: both;
}

.author__name,
.comment__content,
.author__avatar {
  margin: 0;
}
.author__name,
.author__avatar {
  display: inline-block;
  vertical-align: middle;
}

.author__name {}

.comment__content{
  padding-top: 5px;
  font-size: 14px;
  color: #888888;
}

.author__avatar {
  /*display: inline-block;*/
  float: left;
  height: 40px;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
}