.c-side-nav {
  background-color: #cd2428;
  height: 100%;
}

.c-side-nav__ul, .c-side-nav__ul li {
  margin:0;
  padding:0;
  list-style:none;
}

.c-side-nav__ul {
  margin-top: 20px;
}

.c-side-nav__logo {
  width: 75%;
  margin: 30px;
}

.c-side-nav__ul li {
  position: relative;
  list-style: none;
  padding: 10px;
  min-height: 1px;
}

.c-side-nav__ul li a {
  font-family: 'Roboto:700', sans-serif;
  padding:4px 15px;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.c-side-nav__ul li:hover {
  background-color: #BB2428;
  position: relative;
  visibility: visible;
}

.c-side-nav__ul li:active {
  background-color: #FF6060;
  position: relative;
  visibility: visible;
}

/*@media screen and (min-width: px) {}*/