.c-side-nav {
  z-index: 201;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #cd2428;
  box-sizing: content-box;
}

.c-side-nav__ul,
.c-side-nav__ul li {
  margin:0;
  padding:0;
  list-style:none;
}

.c-side-nav__ul {
  margin-top: 20px;
}

.c-side-nav__logo {
  width: 75%;
  margin: 30px;
}

.c-side-nav-menu-icon {
  display: none;
  width: 40px;
  height: 40px;
  background: #4C8FEC center;
}

.c-side-nav-menu-icon a:hover {
  background-color: #444;
  border-radius: 4px 4px 0 0;

}

.c-side-nav__ul li {
  position: relative;
  list-style: none;
  padding: 10px;
  min-height: 1px;
}

.c-side-nav__ul li a {
  font-family: 'Roboto:700', sans-serif;
  padding:4px 15px;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.c-side-nav__ul li:hover {
  background-color: #BB2428;
  position: relative;
  visibility: visible;
}

.c-side-nav__ul li:active {
  background-color: #FF6060;
  position: relative;
  visibility: visible;
}

/*@media screen and (min-width: px) {}*/