.c-icon {
  display: inline-block;
  margin: 20px 5px 5px 5px;
  padding: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1px 3px #DDDDDD;
}

.c-icon__icon {
  padding: 0 2px 0 2px;
  color: #222222;
  cursor: pointer;
}