.c-post {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 10px 20px 10px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #DDDDDD;
}

.c-post__header {
  border-bottom: 1px solid #BBBBBB;
  margin: 5px 25px;
}

.c-post__avatar, .c-post__author-name, .c-post__author-job, .c-post__date {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.c-post__avatar {
  height: 30px;
  width: 30px;
  background-color: #DDDDDD;
  border-radius: 50%;
  margin-left: 20px;
}

.c-post__author-job, .c-post__date {
  color: #888888;
}

.c-post__date {
  font-size: 12px;
}

.c-post__img {
  width: 30%;
  display: inline-block;
  float: left;
}

.c-post__title {
  margin-bottom: 10px;
}

.c-post__content {
  margin: 0 25px 10px 0;
  font-size: smaller;
}