.s-header {
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  height: 80px;
  width: calc(100% - 220px);
  margin: 0 auto;
  background: #F9F9F9;
  border-bottom: 1px solid #BBBBBB;
  flex-basis: auto;
  z-index: 202;
}

.s-header-icons {
  margin-right: 20px;
}

/*@media screen and (min-width: 750px) {*/
  /*.s-header .container {*/
    /*width: auto;*/
  /*}*/
/*}*/