.s-header {
  flex: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 80px;
  top: 80px;
  width: 100%;
  margin: 0 auto;
  background: #F9F9F9;
}

.header-icons {
  margin-right: 10px;
}

@media screen and (min-width: 426px) {
  .s-header {
    z-index: 3;
    position: fixed;
    top: 0;
    width: calc(100% - 220px);
    border-bottom: 1px solid #BBBBBB;
  }

  .header-icons {
    margin-right: 20px;
  }
}

@media screen and (min-width: 769px) {

}