// Colors
//
// Weight: 1
//
// Styleguide Settings.Colors


// Primary Colors
//
// The primary colors for branding.
//
// $donatello     -  #8e44ad; Purple tech
// $michelangelo  -  #E87E04; Cowabunga
//
// Weight: 1
//
// Styleguide Settings.Colors.PrimaryColors


$donatello: #8e44ad;
$michelangelo: #E87E04;


// Secondary Colors
//
// $black       - #222222; Black
// $gray        - #CCCCCC; Gray
// $white       - #FFFFFF; White
// $red         - #c0392b; Red
// $green       - #86B155; Green
// $orange      - #FCB350; Orange
// $blue        - #3FA7D6; Blue
//
// Weight: 2
//
// Styleguide Settings.Colors.SecondaryColors


$black: #222222;
$gray: #CCCCCC;
$white: #FFFFFF;
$red: #c0392b;
$green: #86B155;
$orange: #FCB350;
$blue: #3FA7D6;
