.s-posts {
  width: 100%;
  height: 100%;
  /*background-color: #EAEAEA;*/
  margin: 0 auto;
  /*margin-top: 8%;*/
  padding: 1px 0 1px 0;
  display: flex;
  flex-direction: column;
  flex: auto;
  position: relative;/* need this to position inner content */
  top: 100px;
  overflow-y: auto;
}

/*.posts--scrolled {*/
/*display: block;*/
/*width: 100%;*/
/*}*/

/*@media screen and (min-width: px) {}*/