.nav-flyout {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 120px;
  width: 150px;
  height: 50vh;
  padding: 10px 0 10px 10px;
  background-color: #DA5B5E;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

.nav-flyout.hide {
  visibility: hidden;
  transform: translate3d(-100vw, 0, 0);
}

.nav-flyout.show {
  z-index: 20;
  visibility: visible;
  transform: translate3d(0vw, 0, 0);
}

.nav-flyout li {
  padding: 8px 0 10px 0;
  color: #fff;
  list-style: none;
}

.nav-flyout li:hover {
  color: #BB2428;
  background-color: #DA5B5E;
  cursor: default;
}

