ul.sideNavFlyout {
  position: absolute;
  width: 150px;
  height: 50vh;
  background-color: #DA5B5E;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  left: 120px;
  top: 0;
  padding: 10px 0 10px 10px;
  z-index: 2;
}

.sideNavFlyout.hide {
  transform: translate3d(-100vw, 0, 0);
  visibility: hidden;
}

.sideNavFlyout.show {
  transform: translate3d(0vw, 0, 0);
  visibility: visible;
}

ul.sideNavFlyout li {
  color: #fff;
  list-style: none;
  padding: 8px 0 10px 0;
}

ul.sideNavFlyout li:hover {
  background-color: #DA5B5E;
  color: #BB2428;
  cursor: default;
}

